.LoadingImg{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}



body{
    background-color:#caf0f8;  
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #2a83f7;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media screen and (max-width:920px) {
    .LoadingImg{
        
        margin-top: 400px;
    }
}

@media screen and (max-width:600px){
    .LoadingImg{
        
        margin-top: 300px;
    } 

    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #2a83f7;
        width: 50px;
        height: 50px;
        
      }
}

@media screen and (max-width:380px){
    .LoadingImg{
        
        margin-top: 250px;
    } 
}