.mainBookingDiv{
    width:70%;
    height: 100%;
    font-size: 20px;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bookingDiv{
    background: #e3dede;
}

.bookTitle{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
}

.formCard{
    width: 90%;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.formCardLocation{
    width: 90%;
    /* background-color: white; */
    /* padding: 10px; */
    margin: auto;
    margin-bottom: 20px;
}


.formCardVehicle{
    width: 90%;
    display: flex;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}

.secondFormDiv{
    margin-top: 20px;
}
.label{
    margin-right: 30px;
}

.radio{
    transform: scale(1.5);
    margin-right: 10px;
    border-color:  #F2CB05;
    box-shadow: 2px red;
}


.radio:checked{
    background-color: #F2CB05;
}




.input{
    width: 350px;
    height: 50px;
    font-size: 20px;
    margin-top: 15px;
    border: 1px solid #F2CB05;
   
}

.input:focus{
    outline: 1px solid #F2CB05;
}

.formCard1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputEmail{
    width: 90%;
    height: 70px;
    border-radius: 10px;
    margin-top: 10px;
    background: rgba(242, 203, 5, 0.24);
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border: none;
}

.inputEmail:focus{
    outline: none;
}

.QuoteBtn{
    width: 250px;
    height: 80px;
    border-radius: 20px;
    font-size: 25px;
    border: none;
    background: linear-gradient(0deg, #F2CB05, #F2CB05), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
}

.formCard1Location{
    background-color: white;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width:1280px) {
    .formCard1Location{
        background-color: white;
        width:350px;
        height: 150px;
        padding: 20px;
        border-radius: 10px;
    }

    .input{
        width: 300px;
       
    }

    .formCardLocation{
        width: 90%;
        /* background-color: white; */
        padding: 0;
        margin: auto;
        margin-bottom: 20px;
    }

    .mainBookingDiv{
        width:90%;
      }
    
}

@media screen and (max-width:1024px) {
    .formCardLocation{
        width: 100%;
    }

    
.formCardVehicle{
    width: 100%;
}

.formCard{
    width: 100%;
}
}

@media screen and (max-width:920px) {
    .mainBookingDiv{
        width:90%;
      
    }
}

@media screen and (max-width:800px){
    .mainBookingDiv{
        width:95%;
      
    }
}

@media screen and (max-width:600px) {
    .formCard1Location{
        width:100%;
        margin-top: 20px;
        border-radius: 20px;
        
    }

    .input{
        width: 90%;
        height: 50px;
        margin-top: 20px;
       
    }

  
}

@media screen and (max-width:450px) {
    .bookTitle{
        width: 80%;
    }

    .inputEmail{
        width: 100%;
        padding: 10px;
    }

    .formCard{
        padding: 20px;
    }
}

@media screen and (max-width:300px){
.moving{
    display: block;
    margin-bottom: 10px;
}

.formCard{
    padding: 10px;
}
}