.mainWorksDiv{
    background-color:#caf0f8;
    padding-bottom: 70px;
    height: 100%;
}


.worksDiv{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.mainTitleDiv{
    margin-bottom: 30px;
}
.mainTitle1{
    font-size: 60px;
    display: inline;
    margin-right:15px;
    font-weight: 900;
}
.mainTitle2{
    font-size: 60px;
    display: inline;
    font-weight: 900;
    color:#F2CB05;
}

.worksText{
    font-size: 20px;
}

.secondWorksDiv{
    width:90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.worksCard{
    width: 30%;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(242, 203, 5, 0.5);
    /* height: 500px; */
    /* background-color:  
    #f4f1e3;  */
    
}

.worksImgDiv{
    width: 100%;
    height: 50%;
}

.worksImg{
    width: 100%;
    height: 100%;
}

.cardDescription{
    margin-top: 30px;
}

.cardTitle{
    margin-bottom: 30px;
}

.cardText{
    font-size: 20px;
}

@media screen and (max-width:1280px) {
 #cardText{
    margin-top: 15px;
 } 
 
 .worksCard{
    width: 350px;
  
}

.cardTitle{
    margin-bottom: 10px;
}

.worksCard{ 
    padding-bottom: 50px;
}

}

@media screen and (max-width:1024px) {
    .secondWorksDiv{
        flex-wrap: wrap;
        
    }

    .worksCard{
        width: 400px;
        margin-bottom: 50px;
      
    }
}

@media screen and (max-width:920px){
    #cardText{
        margin-top: 0;
        
     } 
}

@media screen and (max-width:900px){
    .worksCard{
        width: 700px;
        margin-bottom: 50px;
        margin: auto;
        margin-top: 50px;
      
    }
}

@media screen and (max-width:600px){
    
.worksDiv{
    width: 90%;
    
}

.mainTitle1{
    font-size: 40px;
}
.mainTitle2{
    font-size: 40px;
    
}
}

@media screen and (max-width:300px) {
    .mainTitle1{
        font-size: 30px;
    }
    .mainTitle2{
        font-size: 30px;
        
    } 
}
