

  .bookNAV{
    padding-top: 10px;
    background-color: #F2CB05;
  }
  .book-brand-name {
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: 700;
    font-size: 30px;
    display: inline;
    /* font-size: 2.5rem;
    margin-left: 1rem; */
  }

  .logo{
    margin-left: 10px;
   display: inline;
  }
 
@media screen and (max-width:600px){
    .bookNAV{
        padding-top: 5px;
        background-color: #F2CB05;
      }

      .book-brand-name {
     
   
        margin-left: 1rem; 
      }
}

 
